body {
    height: 75px;
    width: 75px;
}

#micButton{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#micButton img{
    height: 100%;
    width: 100%;
}